# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv
venv/
ENV/

# MacOS
.DS_Store

# VSCode
.vscode/
